In [1]:
import pandas as pd
import numpy as np

In [70]:
olympics_file = pd.read_csv('./olympics.csv')
df = pd.DataFrame(olympics_file)
df

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [8]:
df['Name'].nunique()

134732

In [9]:
df['Sex'].value_counts()

Sex
M    196594
F     74522
Name: count, dtype: int64

In [10]:
df['Age'].mean()

np.float64(25.556898357297374)

In [13]:
df[['Name','Height']].max()

Name      zzet nce
Height       226.0
dtype: object

In [23]:
medalist = df[df['Medal'].notnull()]
highestHonors = medalist[['Height', 'Name']].max()
print(highestHonors)

Height               223.0
Name      ystein Pettersen
dtype: object

In [25]:
df[['Height', 'Name']].min()

Height                                        127.0
Name        Gabrielle Marie "Gabby" Adcock (White-)
dtype: object

In [26]:
df['Sport'].nunique()

66

In [30]:
df[['Season', 'Event']].value_counts()

Season  Event
Summer  Football Men's Football                                5733
Winter  Ice Hockey Men's Ice Hockey                            4702
Summer  Hockey Men's Hockey                                    3958
        Water Polo Men's Water Polo                            3358
        Basketball Men's Basketball                            3280
                                                               ...
        Archery Men's Target Archery, 50 metres, Individual       2
        Croquet Mixed Doubles                                     2
        Basque Pelota Men's Two-Man Teams With Cesta              2
        Archery Men's Target Archery, 28 metres, Individual       2
        Aeronautics Mixed Aeronautics                             1
Name: count, Length: 770, dtype: int64

In [51]:
df.columns

Index(['Tacos Consumed', 'ID', 'Name', 'Sex', 'Age', 'Height', 'Weight',
       'Team', 'NOC', 'Games', 'Year', 'Season', 'City', 'Sport', 'Event',
       'Medal'],
      dtype='object')

In [52]:
df['Medal'].value_counts()

Medal
Gold      13372
Bronze    13295
Silver    13116
Name: count, dtype: int64

In [57]:
df[df['Medal'] == 'Gold']['Name'].nunique()

10413

In [60]:
df['Age'].isna().mean() * 100

np.float64(3.49444518213606)

In [61]:
df.columns

Index(['Tacos Consumed', 'ID', 'Name', 'Sex', 'Age', 'Height', 'Weight',
       'Team', 'NOC', 'Games', 'Year', 'Season', 'City', 'Sport', 'Event',
       'Medal'],
      dtype='object')

In [62]:
df['Category'] = 'Standard'

In [63]:
df.columns

Index(['Tacos Consumed', 'ID', 'Name', 'Sex', 'Age', 'Height', 'Weight',
       'Team', 'NOC', 'Games', 'Year', 'Season', 'City', 'Sport', 'Event',
       'Medal', 'Category'],
      dtype='object')

In [69]:
df['BMI'] = df['Weight'] / df['Height'] / 100

In [67]:
df.columns

Index(['Tacos Consumed', 'ID', 'Name', 'Sex', 'Age', 'Height', 'Weight',
       'Team', 'NOC', 'Games', 'Year', 'Season', 'City', 'Sport', 'Event',
       'Medal', 'Category', 'BMI'],
      dtype='object')

In [73]:
wt = df['Weight']
ht = df['Height']
BMI = wt / (ht **2)
print('BMI:', round(BMI, 2))

BMI: 0         0.0
1         0.0
2         NaN
3         NaN
4         0.0
         ...
271111    0.0
271112    0.0
271113    0.0
271114    0.0
271115    0.0
Length: 271116, dtype: float64

In [77]:
df['BMI'].mean()

KeyError: 'BMI'